#parent
{
	background-color:#2196f3;
	border: 1px solid white;
	height:200px;
	width:200px;
}
#child
{
	background-color:grey;
	border: 1px solid white;
	height:200px;
	margin-left:50px;
	margin-top:50px;
	width:400px;
	opacity:0.5;
	color:white;
}
